body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #bc3d7a, #57d5ff);
  font-weight: bold;
  color: #333;
  margin: 5vh;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.converter-form {
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 20px;
  background-color: #cbfff2;
  box-shadow: rgba(255, 110, 110, 0.3) 0px 19px 38px, rgba(255, 110, 110, 0.22) 0px 15px 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

label {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input,
select {
  padding: 10px;
  font-size: 1.1rem;
  margin-top: 5px;
  width: 100%;
  max-width: 280px;
  border: 2px solid #edffb9;
  border-radius: 5px;
  box-shadow: 0px 6px 5px black;
  background-color: #ffa0a0;
}

button {
  padding: 10px 20px;
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fddbdb;
  background-color: #0173ff;
  border: #7e0202;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
}

button:disabled {
  background-color: #fffd93;
}

button:hover {
  background-color: #add4fe;
}

.error {
  color: rgb(242, 127, 253);
  font-weight: bold;
  font-size: 1rem;
  margin: 10px 0;
}

.result {
  margin: 20px 0;
  color: rgb(2, 50, 194);
  border: #ffcccc;
  font-weight: bold;
  font-size: 1.2rem;
}

.result h2 {
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: bold;
  color: #ff7bc8;
}

.history {
  margin-top: 30px;
  width: 100%;
  border-radius: 25px;
  max-width: 500px;
}

.history h2 {
  font-size: 1.5rem;
  border-radius: 5px;
  margin-bottom: 10px;
}

.history table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0px 6px 5px black;
}

.history th, 
.history td {
  padding: 12px;
  border: 1px solid #5eff69;
  border-radius: 15px;
  text-align: center;
  font-size: 1rem;
}

.history th {
  background-color: rgb(0, 71, 158);
  font-weight: bold;
  color: #eef5ab;
}

.history td {
  background-color: #ffb406;
  border-radius: 25px;
  color: #7e0202;
}

.history tr:nth-child(even) {
  background-color: #ffcccc;
  border-radius: 25px;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #83A9FF;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: rgb(255, 227, 227);
  border: 3px solid #6b97fd;
  cursor: grab;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  font-size: 1.5rem;
  color: #008cfe;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .converter-form {
      padding: 20px;
      width: 90%;
  }

  h1 {
      font-size: 2rem;
  }
}
